.row a {
	color: black;
}

.row a:hover {
	text-decoration: none;
}

.single {
	position: relative;
	margin-bottom: 50px;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	z-index: 1;
	border-radius: 15px;
	-webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
	box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}

	.single .thumb {
		position: relative;
		z-index: 1;
		border-radius: 15px 15px 0 0;
		margin: 0 auto;
		background-color: #3f43fd;
		overflow: hidden;
	}

		.single .thumb img {
			width: 100%;
		}

@media only screen and (max-width: 575px) {
	.single .thumb::after {
		height: 160px;
		bottom: -90px;
	}
}

.single .single_details_info {
	position: relative;
	z-index: 1;
	padding: 30px;
	text-align: center;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	border-radius: 0 0 15px 15px;
	background-color: #ffffff;
}

	.single .single_details_info::after {
		-webkit-transition-duration: 500ms;
		transition-duration: 500ms;
		position: absolute;
		z-index: 1;
		width: 75px;
		height: 3px;
		background-color: #3f43fd;
		content: "";
		top: 12px;
		right: 30px;
	}

	.single .single_details_info h6 {
		margin-bottom: 0.25rem;
		-webkit-transition-duration: 500ms;
		transition-duration: 500ms;
	}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.single .single_details_info h6 {
		font-size: 14px;
	}
}

.single .single_details_info p {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	margin-bottom: 0;
	font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.single .single_details_info p {
		font-size: 12px;
	}
}

.single:hover .thumb::after,
.single:focus .thumb::after {
	background-color: #070a57;
}

.single:hover .thumb .social-info a,
.single:focus .thumb .social-info a {
	color: #ffffff;
}

	.single:hover .thumb .social-info a:hover,
	.single:hover .thumb .social-info a:focus,
	.single:focus .thumb .social-info a:hover,
	.single:focus .thumb .social-info a:focus {
		color: #ffffff;
	}

.single:hover .single_details_info,
.single:focus .single_details_info {
	background-color: #070a57;
}

	.single:hover .single_details_info::after,
	.single:focus .single_details_info::after {
		background-color: #ffffff;
	}

	.single:hover .single_details_info h6,
	.single:focus .single_details_info h6 {
		color: #ffffff;
	}

	.single:hover .single_details_info p,
	.single:focus .single_details_info p {
		color: #ffffff;
	}

/*
	Chart
*/

#titleChart {
	text-transform: uppercase;
}

#piechart {
	justify-content: center;
	min-height: 500px;
}
