@using WebTuDienKHoChuru.Utils
@{
	ViewData["Title"] = "Nhập đoạn song ngữ";
}

<div class="text-center">
	<h5>@Constants.ImportFile cho @ViewBag.SelectedDict.Description</h5>
	<p>TSV (Tab Separated Values) là một loại định dạng văn bản đơn giản mà trong đó, các giá trị được ngăn cách với nhau bằng dấu khoảng trắng tab</p>
</div>
<div>
	<p>
		Lưu ý: <strong>Không được gõ dấu tab vào</strong> nội dung vì đây là dấu ngăn cách các cột. Cần đảm bảo các cột tiêu đề theo <strong>đúng thứ tự</strong> như sau trong dòng đầu tiên:
		<ol>
			<li>Đoạn trong ngôn ngữ nguồn</li>
			<li>Đoạn trong ngôn ngữ đích</li>
		</ol>
	</p>
</div>

<div class="justify-content-center text-center" id="dropZone" ondrop="dropHandler(event, @ViewBag.SelectedDict.DictType);" ondragover="dragOverHandler(event);"
	 ondragleave="dropLeaveHandler(event);" onclick="$('#inputTSV')[0].click();"
	 data-tooltip="tooltip" data-placement="bottom" title="Vùng kéo thả tập tin TSV" data-delay='{"show":"500", "hide":"100"}'>
	<p id="captionInput">Nhấn vào đây hoặc kéo thả tập tin .TSV hoặc .TXT vào chỗ này...</p>
	<input type="file" class="form-control-file" accept="text/*" id="inputTSV" style="display: none;" onchange="onInputChange(@ViewBag.SelectedDict.DictType);" />
</div>
<div class="text-center">
	<button class="btn btn-success text-center" id="btnUpload" style="display: none;">
		<i class="fas fa-upload"></i> Nhập
	</button>
	<div id="tsvTable">
		<h5>Nội dung tập tin TSV</h5>
		<p id="totalRows"></p>
	</div>
</div>

@section Scripts
{
	<script type="text/javascript" src="~/lib/d3/d3.v7.min.js" charset="utf-8" asp-append-version="true"></script>
	<script type="text/javascript">
		 const pageName =  'Passage';
	</script>
	<script type="text/javascript" src="~/js/import.js" asp-append-version="true"></script>
}